{% extends "layout.html" %}

{%block title%}
        Rota Ekleme Sayfası
{%endblock %}

{%block body%}

  <center>
    <br><br><br><br>
  <h2  style=" color:moccasin; font-family: initial; font-weight: bold;">Rota Ekle</h2><br>
  <div class="container" style="padding-left: 250px; padding-right: 250px;">
<form action = "{{ url_for('rota_ekle')}}", method = "POST">
     <center>
    <label style="color: orange; font-weight: bold;"> Kalkış Şehri Seçiniz</label>
    <select class="form-control" name="kalkisSehri">
      {% for sehir in sehirler %}
      <option value="{{sehir.sehirId}}">{{sehir.sehirAd}}</option>
      {% endfor %}
    </select><br>
     </center>
     <center>
    <label style="color: orange; font-weight: bold;"> Varış Şehri Seçiniz</label>
    <select class="form-control" name="varisSehri">
      {% for sehir in sehirler %}
      <option value="{{sehir.sehirId}}">{{sehir.sehirAd}}</option>
      {% endfor %}
    </select><br><br>
     </center>

   <input   style="background-color: orange; border-radius: 10px;"  type = "submit" value = "        Ekle       " /><br>
 </form>
 </center
{%endblock %}