{% extends "layout.html" %}

{%block body%}

    <center>
        <br><br><br><br>
      <h2  style=" color:moccasin; font-family: initial; font-weight: bold;">Ülke Ekle</h2><br>
      <div class="container" style="padding-left: 250px; padding-right: 250px;">
<form action = "{{ url_for('ulke_ekle')}}", method = "POST">
    <div class="form-group">
                        
        <label style="color: orange; font-weight: bold;"> Ülke Giriniz</label>
        <input required class="form-control form-control-xs" placeholder="Ülke Adı" type = "text" name = "ulkeAd" />
      
      </div><br>

    <input   style="background-color: orange; border-radius: 10px;"  type = "submit" value = "         Ekle         " /><br>
 </form>
</center>
{%endblock %}
